html,
body {
	width: 100%;
	height:	100%;
	//background: url('../assets/train-station.jpg');
	background-size: cover;
	font-family: 'Roboto', sans-serif;

	.side-menu {
		position: fixed;
		z-index: 100;
		width: 220px;
		//left: -220px;
		top: 0;
		background-color: rgba(255, 153, 0, .7);

		.curtain {
			position: fixed;
			z-index: 500;
			width: 220px;
			left: -220px;
			min-height: 100%;
			background-color: #f7f3f0;

			img {
				width: 220px;
				position: fixed;
				height: auto;
				object-fit: cover;
				overflow: hidden;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.logo {
			width: 220px;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				overflow: hidden;
			}
		}
		div {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			p {
				font-weight: 300;
				font-style: italic;
				color: white;
				font-size: 18px;
				padding: 0 10px;
				span {
					float: right;
					&:hover {cursor: pointer;}
				}
			}
		}

		.menu-arrow {
			position: fixed;
			width: 36px;
			bottom: 10px;
			left: 175px;
		}
	}
	.browse-articles {
	 	min-width: 100%;
	 	min-height: 100%;

	 	article {
	 		position: fixed;
	 		width: 100%;
	 		min-height: 100%;
	 		top: 0;
	 		left: 0;
	 		h1 {text-align: center;}
	 	}
	 	.article-1 {
	 		z-index: 3;
	 		//background:url('../assets/train-station.jpg');
	 		background-color: #FFF3DE;
	 	}
	 	.article-2 {
	 		z-index: 2;
	 		//background:url('../assets/train-template2.jpg');
	 		background-color: #F2FFDE;
	 	}
	 	.article-3 {
	 		z-index: 1;
	 		//background:url('../assets/train-template2.jpg');
	 		background-color: #DEEAFF;
	 	}
	}
	.article-review {
		position: fixed;
		width: 100%;
	    height: 100%;
	    top: 0;
	    background-color: white;
	    z-index: 100;

	    .curtain {
			position: fixed;
			z-index: 500;
			width: 320px;
			left: -320px;
			min-height: 100%;
			background-color: white;

			img {
				width: 220px;
				position: fixed;
				height: auto;
				object-fit: cover;
				overflow: hidden;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		article.text {
			float: left;
		}
		article.photo-gallery {
			float: right;
			width: 320px;
			height: 100%;
			background-color: rgb(255, 153, 0);

			.photo {
				width: 310px;
				height: 20%;
				background-color: white;
				margin: 5px auto 0 auto;
			}
			.more-button {
				margin-top: 20px;
				text-align: center;
				img:hover{cursor: pointer;}
			}
		}
	}
}